@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #E5E5E5;
	min-width: 1150px;
}

.header{
	background: #F2F2F2;
	height: 55px;
	margin: 0px auto;
}

.headerdiv{
	display: flex;
	max-width: 1150px;
	margin: 0px auto;
}

.divlogo{
	width: auto;
	background-color: #F2F2F2;
	margin-right: auto;
	padding-left: 40px;
}


.ulheader{
	background: #F2F2F2;
	width: auto;
}

.ul{
	padding-top: 16px;
}

.li{
	display: inline;
	font-family: 'Roboto', sans-serif;
	margin: 40px;
	font-size: 18px
}

.a{
	text-decoration: none;
	color: #4C4C4C;
}

.a:hover{
	color: #EA7600;
}

.space{
	margin-bottom: 10px;
}

.maindiv{
	background-color: #E5E5E5;
	max-width: 1150px;
	padding: 40 0 20 0px;
	margin: 0 auto;
}


.divblue{
	background-color: #265787;
	border-radius: 10px;
	margin: 0px auto;
 	padding: 40px;
}

.maintitle{
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;;
	font-size: 40px;
	border-radius: 10px;
	background-color: #265787;
}

.divflex{
	display: flex;
	height: auto;
}

.divflex2{
	display: flex;
	height: auto;
	margin: 0px auto;
	margin-bottom: 40px;
}

.text{
	width: auto;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 20px;
}

.divlightgrey{
	background-color: #F2F2F2;	
	margin: 0px auto;
	border-radius: 10px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 40px;
}

.textgrey{
	width: auto;
	font-family: 'Roboto', sans-serif;
	color: #4C4C4C;
	font-size: 20px;
}

.divlightgreyflex{
	background-color: #F2F2F2;	
	margin: 0px auto;
	border-radius: 10px;
	padding: 40px;
}

footer{
	background-color: #16324C;
	height: auto;
	min-width: 1150px;
	margin: 0 auto;
}


.divfooter{
	background-color: #16324C;
	padding: 40 0 40 0px; 
	color: #E5E5E5;
	max-width: 	1150px;
	margin: 0 auto;
	font-size: 15px;
	display: flex;

}

.divulfooter{
	padding-left: 40px;
}

.lifooter{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	color: #E5E5E5;
	font-size: 15px;
}

.ulfooter{
	list-style: none;
}

.afooter{
	text-decoration: none;
	color:#E5E5E5;
}

.afooter:hover{
	color: #EA7600;
}

.h{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #E5E5E5;
}